<!-- Table 'terneo_thermostats' edit -->
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
    [#if OK#]
        <div class="alert alert-success"><#LANG_DATA_SAVED#></div>
    [#endif OK#]
    [#if ERR#]
        <div class="alert alert-danger"><#LANG_FILLOUT_REQURED#></div>
    [#endif ERR#]
    <fieldset>
        [#if ID=""#]
            <legend><#LANG_NEW_RECORD#></legend>
        [#endif ID#]
        <!-- TITLE (varchar) -->
        <div class="form-group[#if ERR_TITLE#] has-error[#endif#]">
            <label for="title" class="col-lg-3 control-label"><#LANG_TITLE#>:(*)</label>
            <div class="col-lg-9"><input id="title" name="title" value="[#TITLE#]" type="text" class="form-control"></div>
        </div>
        [#if API_MODE="1"#]
        <!-- IP (varchar) -->
        <div class="form-group[#if ERR_IP#] has-error[#endif#]">
            <label for="ip" class="col-lg-3 control-label">IP:(*)</label>
            <div class="col-lg-9"><input id="ip" name="ip" value="[#IP#]" type="text" class="form-control"></div>
        </div>
        [#endif API_MODE#]
        <!-- SID (varchar) -->
        [#if API_MODE="0"#]
        <div class="form-group[#if ERR_SID#] has-error[#endif#]">
            <label for="sid" class="col-lg-3 control-label">SID:(*)</label>
            <div class="col-lg-9">[#SID#]</div>
        </div>
        [#endif API_MODE#]
        <!-- SN (varchar) -->
        <div class="form-group[#if ERR_SN#] has-error[#endif#]">
            <label for="sn" class="col-lg-3 control-label">SN:(*)</label>
            <div class="col-lg-9"><input id="sn" name="sn" value="[#SN#]" type="text" class="form-control"></div>
        </div>
        <!-- DEVICE_NAME (varchar) -->
        [#if API_MODE="0"#]
        <div class="form-group[#if ERR_DEVICE_NAME#] has-error[#endif#]">
            <label for="device_name" class="col-lg-3 control-label">Имя в облаке:</label>
            <div class="col-lg-9">[#DEVICE_NAME#]</div>
        </div>
        [#endif API_MODE#]
        <!-- FIRMWARE (varchar) -->
        [#if API_MODE="0"#]
        <div class="form-group[#if ERR_FIRMWARE#] has-error[#endif#]">
            <label for="firmware" class="col-lg-3 control-label">Firmware:</label>
            <div class="col-lg-9">[#FIRMWARE#]</div>
        </div>
        [#endif API_MODE#]
        <!-- UPDATED (datetime) -->
        <div class="form-group[#if ERR_UPDATED#] has-error[#endif#]">
            <label class="col-lg-3 control-label" [#if ERR_UPDATED#] style="color:red;font-weight:bold" [#endif#]><#LANG_UPDATED#>:</label>
            <div class="col-lg-4">[#UPDATED#]</div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-4">
                [#if ID!=""#]
                    <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SUBMIT#></button>
                [#else ID#]
                    <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
                [#endif ID#]
                <a href="?data_source=<#DATA_SOURCE#>" class="btn btn-default "><#LANG_CANCEL#></a>
                <input type="hidden" name="id" value="<#ID#>">
                <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
                <input type="hidden" name="edit_mode" value="<#EDIT_MODE#>">
                <input type="hidden" name="mode" value="update">
                <input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
                <input type="hidden" name="tab" value="<#TAB#>">
            </div>
        </div>
    </fieldset>
</form>
